{% extends "core/base.html"%}
{%block tittle%}cart{%endblock%} 
{%block content%}
<div class="max-w-6xl mx-auto flex-wrap item-start py-6 px-6 xl:px-0 mt-10">
    <div class="product w-full lg:w-3/4">
        <!-- cart have quantity not products so we look for items -->
          {% for item in cart %}
          <!-- add cart html from partial folder -->
          {%include "cart/partials/cart_item.html"%}
        {% endfor %}
    </div>
    <div class="summary w-full w-1/4 p-6  rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5">Summary</h2>

        <div class="mb-6 flex justify-between">
            <span class="font-semibold">Total</span>
            <span  
                    hx-get="{% url 'hx_cart_total' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML">
              
              {% include 'cart/partials/cart_total.html' %}
          </span>
        </div>
        
        <a href="{%url 'checkout'%}" class="inline-block bg-white p-4 w-full align-middle py-4 rounded-xl  bg-green-50 hover: cursor-pointer ">checkout</a>
    </div>
  </div>
</div>
</div>
{%endblock%}