{% extends "core/base.html"%}
{%block tittle%}{%endblock%} 
{%block content%}
<header class="  flex items-center justify-center h-screen mb-12 overflow-hidden">

  <video
    autoplay
    loop
    muted
    class="  w-auto min-w-full min-h-full "
  >
    <source
      src="https://assets.mixkit.co/videos/preview/mixkit-making-a-leather-wallet-14949-large.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</header>

<!-- products from partial folder -->
<div class=" m-20 py-2 px-6 xl:px-0">
  <div class="products flex items-baseline flex-wrap justify-center ">
    {% for product in products %}
    {%include "product/partials/product_list_item.html"%}
    {% endfor %}
  </div>
</div>
{%endblock%}

<!-- 
<iframe
class="object-fill"
  src="https://player.vimeo.com/video/366842543?h=3fd7e2bf28"
  frameborder="0"
  allow="autoplay; fullscreen; picture-in-picture"
  allowfullscreen
>
</iframe> -->