{% extends "core/base.html"%} {%block content%}

<header
  class=" px-6 py-10 lg:py-20 bg-orange-100 flex-1 flex justify-center text-sm'"
>
  <div class="max-w-3xl max-auto text-center">
    <!-- <p class="mb-2 text-3xl lg:tex-5xl text-white"> mbe video mbe nothing

        </p> -->
    <a href="" class="bg-cover">
      <iframe
        src="https://player.vimeo.com/video/366842543?h=3fd7e2bf28"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        <a href="https://vimeo.com/366842543"></a
        ><a href="https://vimeo.com/user99439694"></a>
        <a href="https://vimeo.com"></a>.
      </p></a
    >

    <a
      href="#"
      class="inline-block m-20 px-6 w-py-3 rounded-xl bg-white text-black-800 hover:w-bg-primary-200"
      >buy now</a
    >
  </div>
</header>
<!-- products from partial folder -->
<div class=" m-20 py-2 px-6 xl:px-0">
  <div class="products flex items-center flex-wrap">
    {% for product in products %}
    {%include "product/partials/product_list_item.html"%}
    {% endfor %}
  </div>
</div>
{%endblock%}
