{% extends "core/base.html"%} 
{%block tittle%}{{product.name}}{%endblock%} 
{%block content%}
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0 ">
  <div class="images object-cover w-full mb-6 lg:mb-0 lg:w-3/5">
    <img
      class="h-56 w-full object-cover"
      src="{% if product.image %}{{product.image.url}}{% else %}http://via.placeholder.com/240x240x.jpg{% endif %}">
  </div>
  <div class="information w-full lg:w-2/5 lg:p-6">
    <h4 class="text-2 my-2">{{product.name}}</h4>
    <p class="text-gray-400 my-2">{{product.get_display_price}}</p>
    {% if product.description %}
    <p class="text-sm text-gray-600 my-2">{{product.description}}</p>
    {% endif %}
    <!-- The hx-get sending "funtion" request to urls.py
    hx-target  -->
    <a
      href="#"
      class="mt-6 inline-block px-8 py-4 rounded-xl bg-gray-100 text-black hover:bg-yellow-100"
      
      hx-get="{% url 'add_to_cart' product.id %}"
      hx-target="#menu-cart-button"
      hx-swap="outerHTML"
    >
      add to cart
    </a>
  </div>
</div>

{%endblock%}
